.container{
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    align-items: center;
    background-color:azure;
    width: 600px;
    

   
}
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.inputs{
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    
}

.text{
    font-size: 48px;
    font-weight: 700px;
    color:brown;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 60px;
    background-color: aquamarine;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 70px;
    width: 400px;
    background: transparent;
    border:none;
    outline: none;
    color:black;
    font-size: 19px;
}
.forgot{
   
    margin-top: 27px;
    color:#7979;
    font-size: 18px;
   
}
.sumbit-container{
    display: flex;
    gap:200px;
    margin: 30px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color:aliceblue;
    background: brown;
    border-radius: 50px;
    font-size: 19px;
   
    cursor:pointer;
}
.gray{
    background: #eaeaea;
    color: #676767;
}